
.MainSearchDiv {
    overflow: hidden;
    margin: auto;
    padding: auto;
    width: 200px;
    text-align: center;
}

.topnav {
    text-align: center;
}

.HomePage button {
    display: block;
    margin: auto;
}